/* Колір основного тексту #757575*/
/* Вторичний колір тексту #000000 */
/* Основний колір фону #F5F5F5 */
/* Вторичний колір фону #F5F4FA */
/* Колір при ховері та фокусу #2196F3 */

:root {
    --main-color: #757575;
    --secondary-color: #000000;
    --white-text-color: #FFFFFF;
    --main-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --accent-color: #2196F3;
    --title-color: #212121;
    --black-bg-color: #2F303A;
}

body {
    color: var(--main-color);
    background-color: var(--main-background-color);

    font-size: 14px;
    line-height: 1.71;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    
}

.logo {
    color: var(--secondary-color);

    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.leftpart-logo {
    color: var(--accent-color);
}

.footer .logo {
    color: var(--white-text-color);
}

.list {
    list-style: none;
}

/* site nav */
.site-nav .link {
    color: var(--title-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.auth-nav .link {
    color: var(--main-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.footer-nav .link.adress {
    color: var(--white-text-color);
}


.footer-nav .link {
    color: rgba(255, 255, 255, 0.6);

    text-decoration: none;
    font-style: normal;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus,
.footer-nav .link:hover,
.footer-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.hero-title {
    color: var(--white-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.hero {
    background-color: var(--black-bg-color);
}

.section-title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* our services and projects */

.services .title {
    color: var(--title-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}

.services .text {
    color: var(--main-color);
}

.services .text.position {
    font-size: 16px;
    line-height: 1.19;
}

.projects .project {
    font-size: 16px;
    line-height: 1.88;
}

.projects.list a {
    text-decoration: none;
}

.projects .description {
    color: var(--main-color)
}

.projects .title {
    color: var(--title-color);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects .text {
    color: var(--main-color);

    font-size: 16px;
    line-height: 1.88;
}

.team .title {
    color: var(--title-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team .text {
    font-size: 16px;
    line-height: 1.19;
}

/* our team */

.section.our-team {
    background-color: var(--secondary-background-color);
}

/* Buttons */

.button {
    color: var(--title-color);
    background-color: var(--secondary-background-color);

    font-family: inherit;
    font-style: normal;
    cursor: pointer;

}

.button.primary {
    color: var(--white-text-color);
    background-color: var(--accent-color); 

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em; 
}

.button.primary:hover,
.button.primary:focus {
    background-color: #188CE8;
}


.button.secondary {
    color: var(--title-color);
    background-color:var(--secondary-background-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
    color: var(--white-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* footer */

.adress {
    color: var(--white-text-color);
}

.footer {
    background-color: var(--black-bg-color);
}